@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.container{
    text-align: center;
}

.container table {
    margin-left:auto;
    margin-right:auto;
}

a {
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#table td {
    padding: 10px;
    border: 1px solid black;
}

#pagination {
    display: flex;
    padding: 0;
    list-style-type: none;
}
#pagination li {
    margin-right: 5px;
    padding: 10px;
    border: 1px solid black;
}
#pagination li:hover, #pagination li.active {
    cursor: pointer;
    color: red;
    border: 1px solid red;
}
