
<%@ include file="/WEB-INF/jspf/taglib.jspf" %>

<fmt:setLocale value="${sessionScope.lang}"/>
<fmt:setBundle basename="resources" />


<div class="topnav">
    <a class="active" href="${pageContext.request.contextPath}/"><fmt:message key="header.home"/></a>
    <a href="${pageContext.request.contextPath}/edition"><fmt:message key="header.edition"/></a>


    <c:if test="${sessionScope.lang != 'ru_RU'}">
    <div class="login-container">
        <form action="${pageContext.request.contextPath}/locale" METHOD="POST">
            <input type="hidden" name="lang" value="ru_RU" />
            <button type="submit">RU</button>
        </form>
    </div>
    </c:if>
    <c:if test="${not empty sessionScope.lang}">
    <div class="login-container">
        <form action="${pageContext.request.contextPath}/locale" METHOD="POST">
            <input type="hidden" name="lang" value="" />
            <button type="submit">ENG</button>
        </form>
    </div>
    </c:if>
    <c:if test="${empty sessionScope.user}">
        <div class="login-container">
            <form action="registration.jsp" method="post">
                <button type="submit"><fmt:message key="header.sign_up"/></button>
            </form>
        </div>
    <div class="login-container">
        <form action="${pageContext.request.contextPath}/login.jsp" METHOD="post">
            <button type="submit"><fmt:message key="header.login"/> </button>
        </form>
    </div>
    </c:if>

    <c:if test="${not empty sessionScope.user}">
        <div class="login-container">
            <form action="${pageContext.request.contextPath}/logout" method="post">
                <button type="submit"><fmt:message key="header.sign_out"/></button>
            </form>
        </div>
        <div class="login-container">
            <form action="${pageContext.request.contextPath}/funding.jsp" method="get">
                <button type="submit"><fmt:message key="header.balance"/>: ${sessionScope.user.funds}</button>
            </form>
        </div>
        <c:if test="${sessionScope.user.role.name=='Admin'}">
            <div class="login-container">
                <form action="${pageContext.request.contextPath}/admin_profile.jsp" method="get">
                    <button type="submit">${sessionScope.user.login}</button>
                </form>
            </div>

        </c:if>
        <c:if test="${sessionScope.user.role.name=='User'}">
            <div class="login-container">
                <form action="${pageContext.request.contextPath}/user_profile" method="get">
                    <button type="submit">${sessionScope.user.login}</button>
                </form>
            </div>
        </c:if>
    </c:if>

    <div class="login-container">
        <form action="${pageContext.request.contextPath}/searchEdition" METHOD="get">
            <input placeholder="<fmt:message key="header.search"/>" name="search" type="text" required size="30" minlength="1" />
            <button type="submit"><fmt:message key="header.search"/> </button>
        </form>
    </div>


</div>